NEXT_PUBLIC_APP_NAME=nextjs-one-time-payment-render-netlify
NEXT_PUBLIC_APP_URL=http://localhost:3000
STRIPE_SECRET_KEY=
STRIPE_PRODUCT_ID=
STRIPE_PRICE_ID=
DATABASE_URL=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
NETLIFY_NETLIFY_AUTH_TOKEN=
NETLIFY_NETLIFY_SITE_ID=
NETLIFY_NETLIFY_SITE_NAME=
NETLIFY_NETLIFY_SITE_URL=
